<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Regression" parallel="tests" thread-count="1">
        <classes>
            <class name="com.lise.testClasses.UserTest"/>
            <class name="com.lise.testClasses.PostTest"/>
            <class name="com.lise.testClasses.CommentTest"/>
            <class name="com.lise.testClasses.ToDoTest"/>
        </classes>
    </test>
</suite>